In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
df = pd.read_csv("train.csv")
series = df['id'].squeeze()

print(type(series))
print(df.shape)
df.head()

In [ ]:
df.head()

In [ ]:
test = pd.read_csv("test.csv")
test.head()
sr = test['id'].squeeze()
sr

In [ ]:
df.dropna(axis=0)

In [ ]:
test=test.interpolate(method="spline",order=2,limit_direction="both")

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

df["maincateg"] = le.fit_transform(df["maincateg"])
df["platform"] = le.fit_transform(df["platform"])
df=df._get_numeric_data()

In [43]:
df.shape

(15730, 14)

In [44]:
y = df["price1"]
y.head()

0     698
1     999
2    2749
3     518
4    1379
Name: price1, dtype: int64

In [45]:
df.drop(["price1"],axis = 1,inplace = True)

In [46]:
X = df
X.head()

,id,Rating,maincateg,platform,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,16695,3.9,1,1,999,38.0,7.0,17.0,9.0,6.0,3,3,0
1,5120,3.8,0,1,1999,531.0,69.0,264.0,92.0,73.0,29,73,1
2,18391,4.4,1,1,4999,17.0,4.0,11.0,3.0,2.0,1,0,1
3,495,4.2,0,1,724,46413.0,6229.0,1045.0,12416.0,5352.0,701,4595,1
4,16408,3.9,0,1,2299,77.0,3.0,35.0,21.0,7.0,7,7,1

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1.026283,-0.380370,0.854251,0.149097,-0.298891,-0.253945,-0.239406,-0.252848,-0.228610,-0.248264,-0.271939,-0.283662,-1.224916
1,-0.878047,-0.715075,-1.170616,0.149097,0.507512,-0.212278,-0.203757,-0.213037,-0.199034,-0.200627,-0.224965,-0.210151,0.816383
2,1.305311,1.293155,0.854251,0.149097,2.926722,-0.255720,-0.241131,-0.253815,-0.230748,-0.251108,-0.275553,-0.286813,0.816383
3,-1.638957,0.623745,-1.170616,0.149097,-0.520652,3.665534,3.338124,-0.087154,4.192573,3.552747,0.989139,4.538669,0.816383
4,0.979065,-0.380370,-1.170616,0.149097,0.749433,-0.250649,-0.241706,-0.249947,-0.224334,-0.247553,-0.264713,-0.279461,0.816383

In [47]:
test["maincateg"] = le.fit_transform(test["maincateg"])
test["platform"] = le.fit_transform(test["platform"])
test=test._get_numeric_data()
test.head()

,id,Rating,maincateg,platform,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,2242,3.8,0,1,999,27928,3543,14238.0,4295,3457,1962,3976.0,1
1,20532,3.9,1,1,499,3015,404,1458.0,657,397,182,321.0,1
2,10648,3.9,1,1,999,449,52,229.0,70,71,33,46.0,1
3,20677,3.9,0,1,2999,290,40,141.0,51,49,17,32.0,1
4,12593,3.9,0,1,999,2423,326,1265.0,414,293,143,308.0,0

In [48]:
test.head()

,id,Rating,maincateg,platform,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,2242,3.8,0,1,999,27928,3543,14238.0,4295,3457,1962,3976.0,1
1,20532,3.9,1,1,499,3015,404,1458.0,657,397,182,321.0,1
2,10648,3.9,1,1,999,449,52,229.0,70,71,33,46.0,1
3,20677,3.9,0,1,2999,290,40,141.0,51,49,17,32.0,1
4,12593,3.9,0,1,999,2423,326,1265.0,414,293,143,308.0,0

In [49]:
from sklearn.preprocessing import StandardScaler
scal = StandardScaler()

X_scalled = scal.fit_transform(X)
X_scalled = pd.DataFrame(X_scalled)
X_scalled.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1.022284,-0.378224,0.683056,0.148858,-0.298411,-0.254897,-0.235823,-0.253872,-0.226542,-0.250507,-0.272246,-0.284282,-1.228647
1,-0.881507,-0.713311,-1.138967,0.148858,0.507481,-0.213282,-0.200759,-0.213887,-0.197477,-0.202725,-0.225703,-0.211255,0.813904
2,1.301232,1.297210,0.683056,0.148858,2.925157,-0.256670,-0.237520,-0.254844,-0.228643,-0.253359,-0.275826,-0.287411,0.813904
3,-1.642202,0.627036,-1.138967,0.148858,-0.520032,3.659737,3.283065,-0.087456,4.118191,3.562070,0.977234,4.506244,0.813904
4,0.975080,-0.378224,-1.138967,0.148858,0.749249,-0.251605,-0.238086,-0.250959,-0.222340,-0.249793,-0.265085,-0.280109,0.813904

In [50]:
print(test.isna().sum())
test.head()

id            0
Rating        0
maincateg     0
platform      0
actprice1     0
norating1     0
noreviews1    0
star_5f       0
star_4f       0
star_3f       0
star_2f       0
star_1f       0
fulfilled1    0
dtype: int64

,id,Rating,maincateg,platform,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,2242,3.8,0,1,999,27928,3543,14238.0,4295,3457,1962,3976.0,1
1,20532,3.9,1,1,499,3015,404,1458.0,657,397,182,321.0,1
2,10648,3.9,1,1,999,449,52,229.0,70,71,33,46.0,1
3,20677,3.9,0,1,2999,290,40,141.0,51,49,17,32.0,1
4,12593,3.9,0,1,999,2423,326,1265.0,414,293,143,308.0,0

In [21]:
X_scalled.shape

(14945, 13)

In [51]:
from sklearn.preprocessing import StandardScaler
scal = StandardScaler()

X_scalled_test = scal.fit_transform(test)
X_scalled_test = pd.DataFrame(X_scalled_test)
X_scalled_test.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-1.382611,-0.713232,-1.173265,0.142244,-0.29649,1.936287,1.636973,1.933252,1.222161,1.899232,2.959104,3.605396,0.808863
1,1.676895,-0.375380,0.770071,0.142244,-0.68696,0.002051,-0.006015,-0.014623,0.005756,0.024895,0.045601,0.051597,0.808863
2,0.023524,-0.375380,0.770071,0.142244,-0.29649,-0.197172,-0.190255,-0.201942,-0.190514,-0.174789,-0.198282,-0.215789,0.808863
3,1.701150,-0.375380,-1.173265,0.142244,1.26539,-0.209517,-0.196536,-0.215355,-0.196867,-0.188265,-0.224471,-0.229401,0.808863
4,0.348879,-0.375380,-1.173265,0.142244,-0.29649,-0.043911,-0.046841,-0.044039,-0.075494,-0.038808,-0.018234,0.038957,-1.236304

In [52]:
print(y.shape,X_scalled.shape,X_scalled_test.shape,test.shape,X.shape)

(15730,) (15730, 13) (5244, 13) (5244, 13) (15730, 13)

In [53]:
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [55]:
X_scalled.isna().sum()

0       0
1       0
2       0
3       0
4       0
5     678
6     578
7     588
8     539
9     231
10      0
11      0
12      0
dtype: int64

In [54]:
# Fitting Random Forest Regression to the dataset
# import the regressor
from sklearn.ensemble import RandomForestRegressor
 
 # create regressor object
regressor = RandomForestRegressor(n_estimators= 520,random_state = 0)
 
# fit the regressor with x and y data
regressor.fit(X_scalled, y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [ ]:
print(X_scalled.shape , y.shape)

In [27]:
#import matplotlib.pyplot as plt
#X_grid = np.arange(min(X_scalled), max(X_scalled), 0.01)
#X_grid = X_grid.reshape((len(X_grid), 1))
#plt.scatter(X_scalled, y, color = 'red')
#plt.plot(X_grid, regressor.predict(X_grid), color = 'blue')
#plt.title('Truth or Bluff (Random Forest Regression)')
#plt.xlabel('Position level')
#plt.ylabel('Salary')
#plt.show()

In [28]:
Y_pred = regressor.predict(X_scalled)  # test the output by changing values

In [29]:
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_squared_error as mse
print("mean absolute error for training : {}".format(mae(y,Y_pred)))
print("mean squared error for training : {}".format(np.sqrt(mse(y,Y_pred))))

mean absolute error for training : 35.175272409089736
mean squared error for training : 72.43613863355299

In [30]:

pred = regressor.predict(X_scalled_test)
pred

array([361.92692308, 347.89230769, 469.62692308, ..., 392.37307692,
       273.08846154, 692.20384615])

In [31]:
a = pd.read_csv("Sample__submission.csv")
a.head()

      id   price1
0   2242  362.092
1  20532  342.130
2  10648  466.318
3  20677  977.096
4  12593  398.980

In [32]:
a["price1"] = pred
a["id"] = sr
a.head()
a.to_csv("Sample__submission.csv",index = False)

Keras optimizer

In [62]:
import pandas as pd

import numpy as np 

import matplotlib.pyplot as plt

import sklearn


# Import necessary modules

from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error

from sklearn.metrics import mean_absolute_error

from math import sqrt


# Keras specific

import keras

from keras.models import Sequential

from keras.layers import Dense

In [63]:
model = Sequential()

model.add(Dense(500, input_dim=14, activation= "relu"))

model.add(Dense(100, activation= "relu"))

model.add(Dense(50, activation= "relu"))

model.add(Dense(25, activation= "relu"))

model.add(Dense(1))

In [64]:
model.compile(loss= "mean_absolute_error" , optimizer="adam", metrics=["mean_absolute_error"])

model.fit(X_scalled, y, epochs=20)

Epoch 1/20
312/312 [==============================] - 3s 5ms/step - loss: 218.5266 - mean_absolute_error: 218.5266
Epoch 2/20
312/312 [==============================] - 2s 7ms/step - loss: 133.3138 - mean_absolute_error: 133.3138
Epoch 3/20
312/312 [==============================] - 2s 5ms/step - loss: 132.0867 - mean_absolute_error: 132.0867
Epoch 4/20
312/312 [==============================] - 2s 6ms/step - loss: 131.0192 - mean_absolute_error: 131.0192
Epoch 5/20
312/312 [==============================] - 2s 6ms/step - loss: 130.3197 - mean_absolute_error: 130.3197
Epoch 6/20
312/312 [==============================] - 2s 7ms/step - loss: 129.7850 - mean_absolute_error: 129.7850
Epoch 7/20
312/312 [==============================] - 2s 7ms/step - loss: 129.3147 - mean_absolute_error: 129.3147
Epoch 8/20
312/312 [==============================] - 2s 7ms/step - loss: 128.4639 - mean_absolute_error: 128.4639
Epoch 9/20
312/312 [==============================] - 2s 7ms/step - loss: 128.2103 - mean_absolute_error: 128.2103
Epoch 10/20
312/312 [==============================] - 2s 7ms/step - loss: 128.1533 - mean_absolute_error: 128.1533
Epoch 11/20
312/312 [==============================] - 2s 7ms/step - loss: 127.7193 - mean_absolute_error: 127.7193
Epoch 12/20
312/312 [==============================] - 2s 7ms/step - loss: 127.6488 - mean_absolute_error: 127.6488
Epoch 13/20
312/312 [==============================] - 2s 7ms/step - loss: 127.3871 - mean_absolute_error: 127.3871
Epoch 14/20
312/312 [==============================] - 2s 7ms/step - loss: 127.2159 - mean_absolute_error: 127.2159
Epoch 15/20
312/312 [==============================] - 2s 8ms/step - loss: 126.7675 - mean_absolute_error: 126.7675
Epoch 16/20
312/312 [==============================] - 2s 7ms/step - loss: 126.2484 - mean_absolute_error: 126.2484
Epoch 17/20
312/312 [==============================] - 2s 7ms/step - loss: 126.6168 - mean_absolute_error: 126.6168
Epoch 18/20
312/312 [==============================] - 2s 7ms/step - loss: 126.2229 - mean_absolute_error: 126.2229
Epoch 19/20
312/312 [==============================] - 2s 6ms/step - loss: 125.9713 - mean_absolute_error: 125.9713
Epoch 20/20
312/312 [==============================] - 2s 7ms/step - loss: 125.6774 - mean_absolute_error: 125.6774

In [65]:
pred_train= model.predict(X_scalled)

print(np.sqrt(mean_squared_error(y,pred_train)))

185.6352733491749

In [66]:
y_pred = model.predict(X_scalled_test)

In [68]:
a["price1"] = y_pred
a["id"] = sr
a.head()
a.to_csv("Sample__submission.csv",index = False)

In [40]:
from tensorflow.keras import models,layers

In [ ]:
a = pd.read_csv("Sample__submission.csv")

In [48]:
# Build the Keras model (already compiled)
network = models.Sequential()
network.add(layers.Dense(64, activation='relu',
                        input_shape=(X_scalled.shape[1],)))
network.add(layers.Dense(64, activation='relu'))
network.add(layers.Dense(1))
network.compile(optimizer='rmsprop', loss='mse', metrics=['mae']) # MSE Loss & MAE Loss - Regression task

# Train the model (in silent mode, verbose=0)
history =network.fit(X_scalled,y,
                    epochs=30, batch_size=1, verbose=0)
mae_history = history.history['mae']

In [79]:
from sklearn.model_selection import RandomizedSearchCV# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

{'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]}

In [ ]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 50, cv = 3, verbose=2, random_state=42, n_jobs = -1)# Fit the random search model
rf_random.fit(X_scalled, y)

Fitting 3 folds for each of 50 candidates, totalling 150 fits

In [48]:
rf_random.best_params_

{'n_estimators': 400,
 'min_samples_split': 2,
 'min_samples_leaf': 1,
 'max_features': 'sqrt',
 'max_depth': None,
 'bootstrap': False}

In [69]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy
base_model = RandomForestRegressor(n_estimators = 10, random_state = 42)
base_model.fit(X_scalled,y)
base_accuracy = evaluate(base_model, X_scalled, y)


best_random = RandomForestRegressor(n_estimators= 400,
 min_samples_split= 2,
 min_samples_leaf=1,
 max_features='sqrt',
 max_depth= None,
 bootstrap= False)
best_random.fit(X_scalled,y)
random_accuracy = evaluate(best_random, X_scalled,y)

print('Improvement of {:0.2f}%.'.format( 100 * (random_accuracy - base_accuracy) / base_accuracy))

Model Performance
Average Error: 28.4945 degrees.
Accuracy = 94.81%.
Model Performance
Average Error: 2.3824 degrees.
Accuracy = 99.56%.
Improvement of 5.01%.

In [71]:
pred = best_random.predict(X_scalled_test)

a = pd.read_csv("Sample__submission.csv")
a["id"] = sr
a["price1"] = pred
a.to_csv("Sample__submission.csv",index = False)

In [72]:
a.head()

      id      price1
0   2242  409.630833
1  20532  426.462083
2  10648  472.178125
3  20677  775.736667
4  12593  456.591875